.overall {
    display: flex;
}

.sidebar {
    width: 30%;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    min-height: 100%; /* Ensures the sidebar takes up the full height */
    margin-left:8%;
    border-radius: 20px;
    margin-top: 20px;
}

.profile-container {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}

.profile {
    margin: 0; /* Margin is handled by the parent container */
}

.profile-icon img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.profile-details h5 {
    margin: 10px;
    font-size: 1.1em;
}

ul {
    list-style: none;
    padding: 0;
}

.item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-left: 50px;
}

.link {
    text-decoration: none;
    color: black;
}

.link:hover {
    text-decoration: none;
    color: red;
    font-size: 1.5em;
}
.link:active {
    text-decoration: none;
    color: red;
    font-size: 1.5em;
}

hr {
    border: 0.5px solid #e0e0e0;
}

.orders {
    width: 60%;
    margin: 0 auto; 
    margin-top: 20px;
}

.order-item {
    border: 1px solid #e0e0e0;
    padding: 20px; 
    margin-bottom: 20px; 
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.order-header, .order-body {
    margin-bottom: 10px; 
}

.order-product {
    display: flex;
    align-items: center;
}

.order-product img {
    width:122px;
    height: 156px;
    margin-right: 20px;
}
.order-coupon
{
    color: green;
    padding: 10px;
}

.order-total
{
    padding: 10px;
    font-size: larger;
}

.Address {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;

}
.Home-Address
{
    border: 1px solid#e0e0e0;
    width: 350px;
    height: 300px;
    margin-top: 20px;
    padding: 10px;
    /* text-align: center; */
    padding-top: 1rem;
}

.Home-Address .icon
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.btn-Address {
    width: 80%;
    height: 67px;
    top: 593px;
    left: 533px;
    gap: 0px;
    border-radius: 2px 0px 0px 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    background-color:white;
    font-family: Jost;
    font-size: 20px;
    font-weight: 400;
    line-height: 28.9px;
    text-align: center;
}
.btn-Address:hover{
    width: 80%;
    height: 67px;
    top: 593px;
    left: 533px;
    gap: 0px;
    border-radius: 2px 0px 0px 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    background-color:black;
    font-family: Jost;
    font-size: 20px;
    font-weight: 400;
    line-height: 28.9px;
    text-align: center;
    color: white;
}

.labelMain {
    display: flex;
    gap:100px;
  }
  
.labelName {
  display: flex;
  flex-direction: column;
  width: 34.2%;
  height: 63px;
  gap: 0px;
  border-radius: 2px 0px 0px 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  margin-bottom: 20px;
  }

  .Address_form {
    padding: 20px;
    width: 50%;
    height: 100%;
  }
  .Address_form p
  {
    
    color: #00973C;
  }
  .profileInfo-div {
    padding: 20px;

  }
  .form-group {
    margin-bottom:20px;
    display: flex;
    flex-direction: column;
  }
  
  .form-group label {
  width: 50%;   
  gap: 0px;
  border-radius: 2px 0px 0px 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  }
  
  .form-group input {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 331px;
  }

  .label-wid {
    width: 70%;
    height: 63px;
    border-radius: 2px 0px 0px 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;

  }
  
  button {
    padding: 10px;
    font-size: 16px;
    background-color:white;
    color:black;
    border: none;
    cursor: pointer;
    width: 227px;
    height:63px;
    border: 1px solid black;
    margin-top: 50px;
  }
  
  button:hover {
    background-color: #333;
    color: white;
  }
  